<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <% if @memory_loss %>
      <p> <%= simple_format(t("mail.updated_to_contact_person.body_memoryloss", hashid: @data[:hashid])) %> </p>
    <% else %>
      <p> <%= simple_format(t("mail.updated_to_contact_person.body", name: @data[:shortname])) %> </p>   
    <% end %>
    <p><%= render '/shared/registration_data_table' %> </p>
  </body>
</html>