<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p> <%= simple_format(t("mail.updated_to_registree.above_data")) %> </p>
    <p><%= render '/shared/registration_data_table' %> </p>
    <p> <%= simple_format(t("mail.updated_to_registree.below_data")) %> </p>
  </body>
</html>