<div class="container registration-container">
  <div class="well">
    <h1><%= t("views.edit.headline")%></h1>
    <p><%=t("views.edit.above_form")%></p>      
    <%= form_for(@registration, url: "/registrations/#{@registration.hashed_email}", method: :put, html: {class: 'form-horizontal'}) do |f| %>
      <%= render 'form', :f => f %>
    <% end %> 
  <div>
</div>