<div class="container registration-container">
  <div class="well">
    <h1>Register</h1>
    <p>...your availability for shifts on the festival</p>      
    <%= render 'shared/form' %>
          
  <div>
</div>
  


  

