<% if !@registration.errors[:hashedEmail].empty? %>
  <div class="alert alert-danger">
      There is already a registration for this email-adress.
  </div>
<% end %>
<% if @registration.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(@registration.errors.count, "error") %>.
    </div>
    <ul>
    <% @registration.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>