<table class="text-left">
<% @data.each do |key, value| %>
  <tr>
    <th><%= t("activerecord.attributes.registration.#{key}") %></th>
    <td><%= better_read(value) %></td>
  </tr>
<% end %>
</table>