<p>You confirmed your email-address.</p>

<p>Editing previous registrations might become a little bit more confusing, if you delete your cookies in between. Consider to keep them.</p>

<p>You can now start to enter registrations.</p>